In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\katul\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\katul\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\katul\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\katul\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\katul\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\katul\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
data = {
    'Name': ['Abheshik', 'Bobby', 'David', 'Kapil', 'mohit', 'Sumit'],
    'Age': [35, 40, 55, 60, 45, 65],
    'City': ['New Delhi', 'Faridabad', 'Agra', 'Jewar', 'Kolkata', 'Mumbai']
}


df = pd.DataFrame(data)

In [11]:
df_unique = df.drop_duplicates()

In [12]:
df_unique = df.drop_duplicates(subset=['Name', 'Age'])

In [13]:
df_unique = df.drop_duplicates(keep='last')

In [14]:
df.drop_duplicates(inplace=True)

In [15]:
print(df_unique)

       Name  Age       City
0  Abheshik   35  New Delhi
1     Bobby   40  Faridabad
2     David   55       Agra
3     Kapil   60      Jewar
4     mohit   45    Kolkata
5     Sumit   65     Mumbai

In [16]:
data = {
    'Name': ['Abheshik', 'Bobby', 'David', 'Kapil', 'mohit', 'Sumit'],
    'Age': [35, 40, 55, 60, 45, 65],
    'City': ['New Delhi', 'Faridabad', 'Agra', 'Jewar', 'Kolkata', 'Mumbai']
}


df = pd.DataFrame(data)


df_unique = df.drop_duplicates()

df_unique = df.drop_duplicates(subset=['Name', 'Age'])

df_unique = df.drop_duplicates(keep='last')

df.drop_duplicates(inplace=True)


print("Original DataFrame:\n", df)
print("Unique DataFrame:\n", df_unique)
print("Unique DataFrame (subset):\n", df_unique_subset)
print("Unique DataFrame (keep last):\n", df_unique_last)

Original DataFrame:
        Name  Age       City
0  Abheshik   35  New Delhi
1     Bobby   40  Faridabad
2     David   55       Agra
3     Kapil   60      Jewar
4     mohit   45    Kolkata
5     Sumit   65     Mumbai
Unique DataFrame:
        Name  Age       City
0  Abheshik   35  New Delhi
1     Bobby   40  Faridabad
2     David   55       Agra
3     Kapil   60      Jewar
4     mohit   45    Kolkata
5     Sumit   65     Mumbai

NameError: name 'df_unique_subset' is not defined