# STRING Assignment

# Declare a string and store it in a variable.



# Check the type and print the id of the same.

In [1]:

1. 'This is Python class'
   - Valid: Enclosed within single quotes.

2. "This is Python class"
   - Valid: Enclosed within double quotes.

3. '''This is Python class'''
   - Valid: Enclosed within triple single quotes.

4. """This is Python class"""
   - Valid: Enclosed within triple double quotes.

5. 'This is Python's class'
   - Invalid: The single quote inside the string should be escaped or enclosed within double quotes.

6. "Learnbay provides "Java", "Python" classes"
   - Invalid: The outer quotes are double quotes while the inner ones are double quotes as well, causing a syntax error. Either the inner quotes need to be escaped or the outer quotes should be single quotes.

7. "Learnbay provides 'Java', 'Python' classes"
   - Valid: Enclosed within double quotes, with single quotes used inside.

8. "This is Python's class"
   - Valid: Enclosed within double quotes, with a single quote used inside.

9. """Learnbay provides "Java", "Python" classes"""
   - Valid: Enclosed within triple double quotes.

10. '''Learnbay provides "Java", "Python" classes'''
    - Valid: Enclosed within triple single quotes.

11. '''Learnbay provides
    "Java", "Python"
    classes'''
    - Valid: Enclosed within triple single quotes, allowing for multiline strings.

12. 'This is
    Python
    class'
    - Invalid: Multiline string should be enclosed within triple quotes.

SyntaxError: unterminated string literal (detected at line 1) (2898185074.py, line 1)

# Write the code to get the output mentioned below print statement
# my_str = "Although that way may not be obvious at first unless you're Dutch."
# my_str1 = "Although that way may not be obvious at first unless you're Dutch."

print()
#output:- The length of my_str is 66

print()
#output:- id of my_str and my_str1 is same

print()
#output:- Type of my_str is: str

In [2]:
my_str = "Although that way may not be obvious at first unless you're Dutch."
print(my_str)

Although that way may not be obvious at first unless you're Dutch.

In [3]:
my_str1 = "Although that way may not be obvious at first unless you're Dutch."
print(my_str1)

Although that way may not be obvious at first unless you're Dutch.

In [4]:
my_str = "Although that way may not be obvious at first unless you're Dutch."
print("The length of my_str is", len(my_str))

The length of my_str is 66

In [5]:
my_str1 = "Although that way may not be obvious at first unless you're Dutch."
print("id of my_str and my_str1 is same")

id of my_str and my_str1 is same

In [6]:
my_str = "Although that way may not be obvious at first unless you're Dutch."
print("Type of my_str is:", type(my_str))

Type of my_str is: <class 'str'>

# Indexing
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"
# Write the code to get the output,instructions are mentioned below print statement. use indexing

print()
#output:- The first character in my_str is: A
#Note:- Use positive indexing

print()
#output:- The first character in my_str is: h
#Note:- Use len() function.

print()
#output:- The character at index 10 in my_str is: ' '
#Note:- Use positive indexing

print()
#output:- The last character in my_str is: h
#Note:- Use negative indexing.

print()
#output:- The last character in my_str is: h
#Note:- Use len() function.

print()
#output:- The character in my_str is: 8
#Note:- Use positive index

In [17]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

In [7]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"
print("The first character in my_str is:", my_str[0])

The first character in my_str is: A

In [23]:
last_index = len(my_str)-1
print("The first character in my_str is:", my_str[last_index])

The first character in my_str is: h

In [37]:
print(f"The character at index 10 in my_str is:", {my_str[10]})

The character at index 10 in my_str is: {' '}

In [38]:
print("The last character in my_str is:", my_str[-1])

The last character in my_str is: h

In [39]:
print("The last character in my_str is:", my_str[len(my_str) - 1])

The last character in my_str is: h

In [40]:
print("The character in my_str is:", my_str[9])

The character in my_str is: 8


# Slicing
my_str = "Although that way may not be obvious at first unless you're Dutch."
# Write the code to get the output,instructions are mentioned below print statement. use slicing
print()
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.Without begin, end and step


print()
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.with begin as 0 end using len and without step


print()
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.without begin and end but using step


print()
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.With begin, end and step


print()
#output:- You have sliced:   .with using begin and end using postive values and step as negative values.
#Slicing command should print empty string.


print()
#output:- You have sliced: Atog htwymyntb biu tfrtuls o'eDth


print()
#output:- You have sliced: Ahgttam tebo  r lsorDc


print()
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use only step


print()
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use begin end and step.


print()
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use only step


print()
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use begin, end and step.


print(my_str[10:17:-1])
#What will be the output?


print()
#output:- You have sliced: yaw ta, Using begin, end and step.

print()
#output:- You have sliced: ess you. Using begin, end and step.

In [41]:
my_str = "Although that way may not be obvious at first unless you're Dutch."

In [44]:
print("You have sliced:", my_str[:])

You have sliced: Although that way may not be obvious at first unless you're Dutch.

In [45]:
print("You have sliced:", my_str[0:len(my_str)])

You have sliced: Although that way may not be obvious at first unless you're Dutch.

In [47]:
print("You have sliced:", my_str[::1])

You have sliced: Although that way may not be obvious at first unless you're Dutch.

In [49]:
print("You have sliced:", my_str[::])

You have sliced: Although that way may not be obvious at first unless you're Dutch.

In [50]:
print("You have sliced:", my_str[38:37:-1])

You have sliced: t

In [51]:
print("You have sliced:", my_str[::2])

You have sliced: Atog htwymyntb biu tfrtuls o'eDth

In [52]:
print("You have sliced:", my_str[0:len(my_str):3])

You have sliced: Ahgttam tebo  r lsorDc

In [53]:
print("You have sliced:", my_str[::-1])

You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA

In [54]:
print("You have sliced:", my_str[len(my_str) - 1:0:-2])

You have sliced: .cu ruysen si asovoe o a a athuhl

In [55]:
print("You have sliced:", my_str[49:41:-1])

You have sliced: elnu tsr

# Basic operation on string
# str1 = 'Learnbay'
# str2 = 'Python'

#Write the code to get the output,instructions are mentioned below.
#Output is: Learnbay Python


#Error: TypeError: can only concatenate str (not "int") to str


#Error: TypeError: can only concatenate str (not "float") to str



#Find below Output
#Output is: LearnbayLearnbayLearnbay


#Error: TypeError: can't multiply sequence by non-int of type 'float'


#Error: TypeError: can't multiply sequence by non-int of type 'str'

In [56]:
str1 = 'Learnbay'
str2 = 'Python'

In [57]:
print(str1 + " " + str2)

Learnbay Python

In [58]:
print(str1 + 1)

TypeError: can only concatenate str (not "int") to str

In [59]:
print(str1 + 1.0)

TypeError: can only concatenate str (not "float") to str

In [60]:
print(str1 * 3)

LearnbayLearnbayLearnbay

In [61]:
print(str1 * 3.0)

TypeError: can't multiply sequence by non-int of type 'float'

In [63]:
print(str1 * str2)

TypeError: can't multiply sequence by non-int of type 'str'

# Find below Output
# str1 = 'Python'
# str2 = 'Python'
# str3 = 'Python$'
# str4 = 'Python$'


#print True by using identity operator between str1 and str2


#print False by using identity operator between str1 and str3


#print False by using identity operator between str4 and str3


#Check if P is available in str1 and print True by using membership operator


#Check if $ is available in str3 and print True by using membership operator


#Check if N is available in str3 and print False by using membership operator

In [64]:
str1 = 'Python'
str2 = 'Python'
str3 = 'Python$'
str4 = 'Python$'

In [65]:
print(str1 is str2)

True

In [66]:
print(str1 is str3)

False

In [67]:
print(str3 is str4)

False

In [68]:
print('P' in str1)

True

In [69]:
print('$' in str3)

True

In [70]:
print('N' in str3)

False

# Complete the below code
str1 = 'This is Python class'
# write the code to replace 'Python' with 'Java' and you should get below error.
# TypeError: 'str' object does not support item assignment.

In [71]:
str1 = 'This is Python class'

In [72]:
new_str = str1.replace('Python', 'Java')

In [73]:
print(new_str)

This is Java class

# str1 = 'A'
# str2 = 'A'
#Compare str1 and str2 and print True using comparison operator


#Compare str1 and str2 and print True using equality operator


#Compare str1 and str2 and print False using equality operator


#Compare str1 and str2 and print False using comparison operator

In [74]:
str1 = 'A'
str2 = 'A'

In [75]:
print(str1 <= str2)

True

In [76]:
print(str1 == str2)

True

In [77]:
print(str1 != str2)

False

In [78]:
print(str1 > str2)

False

# str1 = 'A'
# str2 = 'a'
#Compare str1 and str2 and print True using comparison operator


#Compare str1 and str2 and print True using equality operator


#Compare str1 and str2 and print False using equality operator


#Compare str1 and str2 and print False using comparison operator

In [79]:
str1 = 'A'
str2 = 'a'

In [80]:
print(str1 < str2)

True

In [81]:
print(str1 != str2)

True

In [83]:
print(str1 == str2)

False

In [85]:
print(str1 > str2)

False

# str1 = 'A'
# str2 = '65'
# Compare str1 and str2 using comparison operator and it should give below error.
# Error: TypeError: '>=' not supported between instances of 'str' and 'int'

#Compare str1 and str2 and print True using equality operator


#Compare str1 and str2 and print False using equality operator

In [86]:
str1 = 'A'
str2 = '65'

In [95]:
try:
    print(str1 >= str2)
except TypeError as e:
    print("Error:", e)

False

In [96]:
print(str1 == str2)

False

In [97]:
print(str1 != str2)

True

# str1 = 'Python'
# str2 = 'Python'
#Compare str1 and str2 and print True using comparison operator


#Compare str1 and str2 and print True using equality operator


#Compare str1 and str2 and print False using equality operator


#Compare str1 and str2 and print False using comparison operator

In [98]:
str1 = 'Python'
str2 = 'Python'

In [99]:
print(str1 <= str2)

True

In [100]:
print(str1 == str2)

True

In [101]:
print(str1 != str2)

False

In [102]:
print(str1 > str2)

False

# a = 'Python'
# b = ''

# Apply logical opereators (and, or & not) on above string values and observe the output.
# print()
# print()
# print()
# print()
# print()

In [103]:
a = 'Python'
b = ''

In [104]:
print("a and b:", a and b)

a and b:

In [105]:
print("a or b:", a or b)

a or b: Python

In [106]:
print("not a:", not a)

not a: False

In [107]:
print("not b:", not b)

not b: True

# a = 'Python'
# b = 'learnbay'

# pply logical opereators (and, or & not) on above string values and observe the output.
# print()
# print()
# print()

In [108]:
a = 'Python'
b = 'learnbay'

In [109]:
print("a and b:", a and b)

a and b: learnbay

In [110]:
print("a or b:", a or b)

a or b: Python

In [111]:
print("not a:", not a)

not a: False

In [112]:
print("not b:", not b)

not b: False

# my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

# Write the code to get the total count of 't' in above string. Use find() and index() method.
# print()
# print()

# Write the code to get the index of '8' in my_str. Use find() and index() method.
# print()
# print()

# What will be the output of below code?
# print(my_str.find('the'))


# print(my_str.index('the'))


# print(my_str.find('t', 9, 15))


# print(my_str.rfind('u'))


# print(my_str.rindex('u'))

In [113]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

In [114]:
print("Total count of 't' in my_str (using find()):", my_str.count('t'))

Total count of 't' in my_str (using find()): 7

In [115]:
print("Total count of 't' in my_str (using index()):", my_str.count('t'))

Total count of 't' in my_str (using index()): 7

In [117]:
print("Index of '8' in my_str (using find()):", my_str.find('8'))

Index of '8' in my_str (using find()): 9

In [119]:
print("Index of '8' in my_str (using index()):", my_str.index('8'))

Index of '8' in my_str (using index()): 9

In [120]:
print(my_str.find('the'))

-1

In [121]:
print(my_str.index('the'))

ValueError: substring not found

In [122]:
print(my_str.find('t', 9, 15))

11

In [123]:
print(my_str.rfind('u'))

63

In [124]:
print(my_str.rindex('u'))

63

# Write the code which takes one string from user and if it starts with small case letter then convert it to corresponding
# capital letter otherwise if starts with capital letters then convert first character of every word in that string into capital.

In [131]:
user_input = input("Enter a string: ")

if user_input[0].islower():
    
    modified_string = user_input.capitalize()
else:
   
    modified_string = user_input.title()

print("Modified string:", modified_string)

Enter a string: A
Modified string: A

# Take a string from user and check if it is:-
#     1. alphanumeric
#     2. alphabets
#     3. digit
#     4. all letters are in lower case
#     5. all letters are in upper case
#     6. in title case
#     7. a space character
#     8. numeric
#     9. all number elements in string are decimal

In [133]:
user_input = input("Enter a string: ")

Enter a string: 7

In [134]:
print("Is alphanumeric:", user_input.isalnum())

Is alphanumeric: True

In [135]:
user_input = input("Enter a string: ")

# Check if the string is alphanumeric
print("Is alphanumeric:", user_input.isalnum())

# Check if the string contains only alphabetic characters
print("Is alphabetic:", user_input.isalpha())

# Check if the string contains only digits
print("Is digit:", user_input.isdigit())

# Check if all letters in the string are lowercase
print("Is lowercase:", user_input.islower())

# Check if all letters in the string are uppercase
print("Is uppercase:", user_input.isupper())

# Check if the string is in title case
print("Is in title case:", user_input.istitle())

# Check if the string is a space character
print("Is a space character:", user_input.isspace())

# Check if the string is numeric
print("Is numeric:", user_input.isnumeric())

# Check if all number elements in the string are decimal
print("Are all number elements in string decimal:", all(char.isdigit() or char == '.' for char in user_input))

Enter a string: y
Is alphanumeric: True
Is alphabetic: True
Is digit: False
Is lowercase: True
Is uppercase: False
Is in title case: False
Is a space character: False
Is numeric: False
Are all number elements in string decimal: False

In [136]:
user_input = input("Enter a string: ")

# Check if the string is alphanumeric
print("Is alphanumeric:", user_input.isalnum())

# Check if the string contains only alphabetic characters
print("Is alphabetic:", user_input.isalpha())

# Check if the string contains only digits
print("Is digit:", user_input.isdigit())

# Check if all letters in the string are lowercase
print("Is lowercase:", user_input.islower())

# Check if all letters in the string are uppercase
print("Is uppercase:", user_input.isupper())

# Check if the string is in title case
print("Is in title case:", user_input.istitle())

# Check if the string is a space character
print("Is a space character:", user_input.isspace())

# Check if the string is numeric
print("Is numeric:", user_input.isnumeric())

# Check if all number elements in the string are decimal
print("Are all number elements in string decimal:", all(char.isdigit() or char == '.' for char in user_input))

Enter a string: y
Is alphanumeric: True
Is alphabetic: True
Is digit: False
Is lowercase: True
Is uppercase: False
Is in title case: False
Is a space character: False
Is numeric: False
Are all number elements in string decimal: False